body {
    height: 500px;
    width: 500px;
    background-color: rgb(200, 0, 0);
}

h1 {
    height: 60px;
    width: 200px;
    font-size: 40px;
    color: dark;
    background-color: rgb(200, 0, 0)
    text-align: center;
}

img {
    height: 40px;
    width: 100px;
    margin-left: 50px;
    text-align: left;
}
